* {
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}
.menu {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 90px;
  border-bottom: rgb(30 36 42) 3px solid;
  background-color: #f1f1f2;
  align-items: center;
  z-index: 99999999;
}
.menu > a > span {
  color: rgb(30 36 42);
}
.head {
  font-size: 30px;
  text-decoration: none;
}

.flex-container {
  list-style: none;
  display: flex;
}
.space-evenly {
  justify-content: space-evenly;
}
.flex-item {
  width: 100%;
  margin: 10px;
  cursor: pointer;
  color: rgb(30 36 42);
  font-size: 20px;
  transition: 0.1s;
}
.flex-item > a {
  text-decoration: none;
  color: rgb(30 36 42);
}
.flex-item > a:hover {
  color: rgb(144 161 166);
}
.book-online {
  width: 150px;
  height: 50px;
  background-color: rgb(102 107 114 / 28%);
  border-radius: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  transition: 0.5s;
  cursor: pointer;
}
.book-online:hover {
  transform: translateY(-7px);
  background-color: rgb(144 161 166);
  color: rgb(241 241 242);
}
.book-online {
  color: rgb(30 36 42);
}
.header {
  width: 90%;
  margin-left: 5%;
  height: 500px;
  background-image: url(./assets/Images/4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-fon {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 27px;
  padding: 150px 5% 0 10%;
  background-color: rgb(51 54 58 / 65%);
}
.header-fon > h1 > span {
  border-bottom: 1px #fff solid;
}
.header-fon h1 {
  color: white;
}
.header-fon p {
  color: white;
  padding-top: 20px;
  font-style: italic;
}

.background2 {
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
.item1 {
  width: 30%;
}
.item2 {
  width: 70%;
  padding-left: 80px;
}
.item2 h5 {
  color: ROSYBROWN;
  font-style: italic;
  font-size: 20px;
  font-size: 20px;
  padding: 20px;
  text-align: justify;
}
.item2 h4 {
  font-size: 40px;
  font-size: 25px;
  color: grey;
  padding: 20px;
  padding-top: 5px;
}
.item2 p {
  font-size: 20px;
  font-style: italic;
  color: grey;
  padding: 20px;
  text-align: justify;
}

.award {
  background-image: url(./assets/Images/BACKGROUND4.jpg);
  width: 90%;
  margin-left: 5%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
}
.award-fon {
  width: 100%;
  height: 100%;
  text-align: justify;
  font-size: 28px;
  padding: 150px 1% 0 50%;
  background-color: rgb(51 54 58 / 65%);
}
.award-fon h5 {
  color: ROSYBROWN;
  font-style: italic;
  font-size: 16px;
  padding-bottom: 10px;
}
.award-fon h4 {
  padding-right: 20px;
  font-size: 25px;
  color: #ead5d5;
  padding-bottom: 10px;
}
.award-fon p {
  font-size: 25px;
  font-style: italic;
  color: white;
  padding-right: 20px;
}
.journey {
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
.journey-background{
  width: 40%;
}
.journey-text {
  width: 60%;
  text-align: justify;
  padding: 0 50px;
}
.journey-text h5 {
  color: ROSYBROWN;
  font-style: italic;
  font-size: 20px;
}
.journey-text h4 {
  color: grey;
  font-size: 23px;
}
.journey-text p {
  font-size: 19px;
  font-style: italic;
  color: grey;
}
.end-part {
  width: 100%;
  height: 100px;
  line-height: 100px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(184 172 166 / 77%);
}
.e-part1 {
  width: 30%;
  color: rgba(0, 0, 0, 0.589);
  text-align: center;
}
.e-part2 {
  width: 30%;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 0 75px;
}
.e-part3 {
  width: 40%;
  display: flex;
  color: white;
  justify-content: space-around;
  padding: 0 80px;
}
.e-part3 a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.e-part3 a:hover {
  color: #edc887;
}
.end-p {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  transition: 0.5s;
}
.e-part2 > a > i {
  text-align: center;
  line-height: 40px;
}
.end-p:hover {
  color: white;
  background-color: black;
  transform: rotate(30deg);
}
