* {
  box-sizing: border-box;
}
body {
  background-color: rgb(188 186 190);
}
/* Menu style */
.menu {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 90px;
  border-bottom: rgb(30 36 42) 3px solid;
  background-color: #f1f1f2;
  align-items: center;
  z-index: 99999999;
}
.menu > a > span {
  color: rgb(30 36 42);
  font-family: "Satisfy", cursive;
}
.head {
  font-size: 30px;
  text-decoration: none;
}

.flex-container {
  list-style: none;
  display: flex;
}
.space-evenly {
  font-family: "Abel", sans-serif;

  justify-content: space-evenly;
}
.flex-item {
  width: 100%;
  margin: 10px;
  cursor: pointer;
  color: rgb(30 36 42);
  font-size: 20px;
  transition: 0.1s;
}
.flex-item > a {
  text-decoration: none;
  color: rgb(30 36 42);
}
.flex-item > a:hover {
  color: rgb(144 161 166);
}
.book-online {
  width: 150px;
  height: 50px;
  background-color: rgb(102 107 114 / 28%);
  border-radius: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  transition: 0.5s;
  cursor: pointer;
}
.book-online:hover {
  transform: translateY(-7px);
  background-color: rgb(144 161 166);
  color: rgb(241 241 242);
}
.book-online {
  font-family: "Abel", sans-serif;

  color: rgb(30 36 42);
}
/* Menu end style */
.end-part {
  width: 100%;
  height: 100px;
  line-height: 100px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(26 149 173);
}
.e-part1 {
  width: 30%;
  color: rgb(243 250 251);
  text-align: center;
}
.e-part2 {
  width: 30%;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 0 75px;
}
.e-part3 {
  width: 40%;
  display: flex;
  color: white;
  justify-content: space-around;
  padding: 0 80px;
}
.e-part3 a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.e-part3 a:hover {
  color: rgb(144 161 166);
}
.end-p {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: rgb(144 161 166);
  border: none;
  transition: 0.5s;
}
.e-part2 > a > i {
  text-align: center;
  line-height: 40px;
}
.end-p:hover {
  color: white;
  background-color: rgb(144 161 166);
  transform: rotate(30deg);
}
.page {
  width: 100%;
  height: 450px;
  background-image: url(./assets/Images/page-head.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.fon {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(31, 31, 31, 0.68);
  padding-top: 160px;
  font-size: 30px;
}
.fon > h2 > span {
  border-top: solid 1px rgb(188 186 190);
}
.fon > h2 {
  color: rgb(188 186 190);
  font-family: "Mate SC", serif;
}
.fon > p {
  font-family: "Mate SC", serif;
  color: rgb(188 186 190);
}
.pg-item {
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: rgb(237 237 238);
  font-size: 30px;
}
.general {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  background-color: rgb(205 205 223);
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0px 0px 100px darkslategrey;
  justify-content: space-around;
}
.general-item {
  width: 300px;
  height: 300px;
  margin: 15px;
  position: relative;
  cursor: pointer;
  box-shadow: rgb(26 149 173) 0px 5px 90px;
}
.fon1 {
  width: 0;
  height: 100%;
  top: 0;
  right: 100%;
  background-color: rgb(161 214 226 / 67%);
  position: absolute;
  opacity: 0;
  transition: all 0.6s ease;
}
.general-item:hover > .fon1 {
  opacity: 1;
  right: 0;
  width: 100%;
}
.fon1 > h2 {
  width: 300px;
  color: rgb(250 253 254);
  text-align: center;
  line-height: 300px;
  font-family: "Indie Flower", cursive;
}
