@import url(../../styles/variables.css);
* {
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}
.menu {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 90px;
  border-bottom: 3px rgba(15, 1, 1, 0.774) solid;
  background-color: var(--menu-bg-color);
  align-items: center;
  z-index: 99999999;
}
.menu > a > span {
  color: var(--menu-item-color);
}
.head {
  width: 30%;
  font-size: 30px;
  text-decoration: none;
}

.flex-container {
  list-style: none;
  width: 40%;
  display: flex;
}
.space-evenly {
  justify-content: space-evenly;
}
.flex-item {
  width: 100%;
  margin: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.1s;
}
.flex-item > a {
  text-decoration: none;
  color: var(--menu-item-color);
}
.flex-item > a:hover {
  color: var(--menu-item-hover-color);
}
.book-online {
  width: 15%;
  height: 50px;
  background-color: var(--menu-book-online-bg-color);
  border-radius: 50px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  transition: 0.5s;
  cursor: pointer;
}
.book-online:hover {
  transform: translateY(-7px);
  background-color: var(--menu-item-hover-color);
  color: var(--menu-bg-color);
}
.book-online {
  color: var(--menu-item-color);
}
.book-online0 {
  width: 15%;
  height: 50px;
  background-color: var(--menu-book-online-bg-color);
  border-radius: 50px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  transition: 0.5s;
  cursor: pointer;
}
.book-online0:hover {
  transform: translateY(-7px);
  background-color: var(--menu-item-hover-color);
  color: var(--menu-bg-color);
}
.book-online0 {
  color: var(--menu-item-color);
}
/* ------------------------------------------------ */
.menu-block {
  width: 19%;
  display: none;
}
.menu-mobile {
  position: relative;
  width: 100%;
  height: 30px;
  border: none;
  background-color: #cacccf;
  font-size: 5px;
  border-radius: 20px;
}

.menu-item a {
  font-size: 15px;
  color: black;
  text-decoration: none;
}
.menu-table {
  visibility: collapse;
  position: absolute;
  list-style: none;
  transition: 0.1s;
  background-color: #cacccf;
  opacity: 1;
}
.menu-block:hover .menu-table {
  visibility: visible;
}
/* ------------------------------------------------ */
.header {
  width: 90%;
  margin-left: 5%;
  height: 500px;
  background-image: url(../../Images/4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-fon {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 27px;
  padding: 150px 5% 0 10%;
  background-color: rgb(51 54 58 / 65%);
}
.header-fon > h1 > span {
  border-bottom: 1px #fff solid;
}
.header-fon h1 {
  color: white;
}
.header-fon p {
  color: white;
  padding-top: 20px;
  font-family: "ZCOOL KuaiLe", cursive;
}

.background2 {
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
.item1 {
  width: 30%;
}
.item2 {
  width: 70%;
  padding-left: 80px;
}
.item2 h5 {
  color: ROSYBROWN;
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 20px;
  font-size: 20px;
  padding: 20px;
  text-align: justify;
}
.item2 h4 {
  font-size: 25px;
  color: grey;
  padding: 5px 15px;
}
.item2 p {
  font-size: 20px;
  font-family: "ZCOOL KuaiLe", cursive;
  color: grey;
  padding: 20px;
  text-align: justify;
}

.award {
  background-image: url(../../Images/BACKGROUND4.jpg);
  width: 90%;
  margin-left: 5%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
}
.award-fon {
  width: 100%;
  height: 100%;
  text-align: justify;
  font-size: 28px;
  padding: 150px 1% 0 50%;
  background-color: rgb(51 54 58 / 65%);
}
.award-fon h5 {
  color: ROSYBROWN;
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 16px;
  padding-bottom: 10px;
}
.award-fon h4 {
  padding-right: 20px;
  font-size: 25px;
  color: #ead5d5;
  padding-bottom: 10px;
}
.award-fon p {
  font-size: 25px;
  font-family: "ZCOOL KuaiLe", cursive;
  color: white;
  padding-right: 20px;
}
.journey {
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
.journey-background {
  width: 40%;
}
.journey-text {
  width: 60%;
  text-align: justify;
  padding: 0 50px;
}
.journey-text h5 {
  color: ROSYBROWN;
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 20px;
}
.journey-text h4 {
  color: grey;
  font-size: 23px;
}
.journey-text p {
  font-size: 19px;
  font-family: "ZCOOL KuaiLe", cursive;
  color: grey;
}
.end-part {
  width: 100%;
  height: 100px;
  line-height: 100px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(184 172 166 / 77%);
}
.e-part1 {
  width: 30%;
  color: rgba(0, 0, 0, 0.589);
  text-align: center;
}
.e-part2 {
  width: 30%;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 0 75px;
}
.e-part3 {
  width: 40%;
  display: flex;
  color: white;
  justify-content: space-around;
  padding: 0 80px;
}
.e-part3 a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.e-part3 a:hover {
  color: var(--menu-item-hover-color);
}
.end-p {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  transition: 0.5s;
}
.e-part2 > a > i {
  text-align: center;
  line-height: 40px;
}
.end-p:hover {
  color: white;
  background-color: black;
  transform: rotate(30deg);
}
.e-part1 a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  .head span {
    font-size: 20px;
  }
  .head img {
    width: 15%;
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
  }
  .flex-item {
    font-size: 15px;
  }
  .book-online {
    font-size: 15px;
  }
  .book-online0 {
    font-size: 15px;
  }
  .award-fon p {
    font-size: 19px;
  }
  .e-part1 {
    width: 35%;
  }
  .e-part2 {
    width: 25%;
    padding: 0;
  }
  .e-part3 {
    width: 40%;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .head {
    width: 25%;
  }
  .head span {
    font-size: 15px;
  }
  .head img {
    width: 13%;
  }
  .flex-container {
    width: 45%;
  }
  .flex-item {
    font-size: 15px;
  }
  .book-online {
    width: 15%;
  }
  .book-online0 {
    width: 15%;
  }
  .header-fon p {
    font-size: 14px;
  }
  .award-fon p {
    font-size: 17px;
  }
  .e-part1 {
    width: 35%;
    font-size: 13px;
  }
  .e-part2 {
    width: 25%;
    font-size: 13px;
  }
  .e-part3 {
    width: 40%;
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .header {
    height: 290px;
  }
  .header-fon {
    font-size: 5px;
  }
  .head {
    width: 33%;
  }
  .head span {
    font-size: 13px;
  }
  .head img {
    width: 20%;
  }
  .flex-container {
    display: none;
  }
  .book-online {
    width: 24%;
    height: 30px;
    font-size: 5px;
    line-height: 30px;
  }
  .book-online0 {
    width: 24%;
    font-size: 5px;
    height: 30px;
    line-height: 30px;
  }
  .menu-block {
    width: 19%;
    display: block;
  }
  .menu-table {
    width: 100%;
    right: 0;
    padding: 0px;
    display: flex;
    justify-content: space-around;
  }
  .background2 {
    flex-direction: column;
    justify-content: space-around;
  }
  .item1 {
    width: 100%;
  }
  .item2 {
    width: 100%;
  }
  .award {
    height: 200px;
  }
  .award-fon {
    display: none;
  }
  .journey {
    flex-direction: column;
    justify-content: space-between;
  }
  .journey-background {
    width: 100%;
  }
  .journey-text {
    width: 100%;
  }
  .end-part {
    flex-direction: column;
    justify-content: space-between;
  }
  .e-part1 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 {
    width: 100%;
    background-color: blanchedalmond;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 > a > i {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  .e-part3 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
    background-color: burlywood;
  }
  .e-part3 a {
    color: black;
    font-size: 15px;
  }
}
@media (max-width: 375px) {
  body {
    font-size: 11px;
  }
  .head {
    width: 37%;
  }
  .head span {
    font-size: 13px;
  }
  .head img {
    width: 20%;
  }
  .flex-container {
    display: none;
  }
  .book-online {
    width: 21%;
    height: 30px;
    line-height: 30px;
  }
  .book-online0 {
    width: 27%;
    height: 30px;
    line-height: 30px;
  }
  .menu-block {
    width: 15%;
    display: block;
  }
  .menu-table {
    width: 100%;
    right: 0;
    padding: 0px;
    display: flex;
    justify-content: space-around;
  }
  .background2 {
    flex-direction: column;
    justify-content: space-around;
  }
  .item1 {
    width: 100%;
  }
  .item2 {
    width: 100%;
  }
  .award {
    height: 200px;
  }
  .award-fon {
    display: none;
  }
  .journey {
    flex-direction: column;
    justify-content: space-between;
  }
  .journey-background {
    width: 100%;
  }
  .journey-text {
    width: 100%;
  }
  .end-part {
    flex-direction: column;
    justify-content: space-between;
  }
  .e-part1 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 {
    width: 100%;
    background-color: blanchedalmond;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 > a > i {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  .e-part3 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
    background-color: burlywood;
  }
  .e-part3 a {
    color: black;
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  body {
    font-size: 15px;
  }
  .head {
    width: 20%;
  }
  .head span {
    display: none;
  }
  .head img {
    width: 60px;
  }
  .flex-container {
    display: none;
  }
  .book-online {
    width: 25%;
    font-size: 5px;
    height: 30px;
    line-height: 30px;
  }
  .book-online0 {
    width: 35%;
    font-size: 5px;
  }
  .menu-block {
    width: 20%;
    display: block;
  }
  .menu-table {
    width: 100%;
    right: 0;
    padding: 0px;
    display: flex;
    justify-content: space-around;
  }
  .background2 {
    flex-direction: column;
    justify-content: space-around;
  }
  .item1 {
    width: 100%;
  }
  .item2 {
    width: 100%;
  }
  .award {
    height: 200px;
  }
  .award-fon {
    display: none;
  }
  .journey {
    flex-direction: column;
    justify-content: space-between;
  }
  .journey-background {
    width: 100%;
  }
  .journey-text {
    width: 100%;
  }
  .end-part {
    flex-direction: column;
    justify-content: space-between;
  }
  .e-part1 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 {
    width: 100%;
    background-color: blanchedalmond;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 > a > i {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  .e-part3 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
    background-color: burlywood;
  }
  .e-part3 a {
    color: black;
    font-size: 15px;
  }
}
