@import url(../../styles/variables.css);
* {
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}
.menu {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 90px;
  border-bottom: 3px rgba(15, 1, 1, 0.774) solid;
  background-color: var(--menu-bg-color);
  align-items: center;
  z-index: 99999999;
}

/* ------------------------------------------------ */
.menu-block {
  width: 19%;
  display: none;
}
.menu-mobile {
  position: relative;
  width: 100%;
  height: 30px;
  border: none;
  background-color: #cacccf;
  font-size:0.5rem;
  border-radius: 20px;
}

.menu-item a {
  font-size: 15px;
  color: black;
  text-decoration: none;
}
.menu-table {
  visibility: collapse;
  position: absolute;
  list-style: none;
  transition: 0.1s;
  background-color: #cacccf;
  opacity: 1;
}
.menu-block:hover .menu-table {
  visibility: visible;
}
/* ------------------------------------------------ */
.menu > a > span {
  color: var(--menu-item-color);
  font-family: "Satisfy", cursive;
}
.head {
  width: 30%;
  font-size:1.25rem;
  text-decoration: none;
}

.flex-container {
  width: 40%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-family: "Noto Sans TC", sans-serif;
}
.flex-item {
  width: 20%;
  cursor: pointer;
  font-size: 20px;
  transition: 0.1s;
}
.flex-item > a {
  text-decoration: none;
  color: var(--menu-item-color);
}
.flex-item > a:hover {
  color: var(--menu-item-hover-color);
}
.book-online {
  width: 15%;
  height: 50px;
  background-color: var(--menu-book-online-bg-color);
  border-radius: 50px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  transition: 0.5s;
  cursor: pointer;
}
.book-online:hover {
  transform: translateY(-7px);
  background-color: var(--menu-item-hover-color);
  color: var(--menu-bg-color);
}
.book-online {
  color: var(--menu-item-color);
  font-family: "Noto Sans TC", sans-serif;
}
.book-online0 {
  width: 15%;
  height: 50px;
  background-color: var(--menu-book-online-bg-color);
  border-radius: 50px;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  line-height: 50px;
  transition: 0.5s;
  cursor: pointer;
}
.book-online0:hover {
  transform: translateY(-7px);
  background-color: var(--menu-item-hover-color);
  color: var(--menu-bg-color);
}
.book-online0 {
  color: var(--menu-item-color);
  font-size: 1rem;
  font-family: "Noto Sans TC", sans-serif;
}
.page {
  width: 100%;
  height: 450px;
  background-image: url(../../Images/page-head.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.fon {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(31, 31, 31, 0.68);
  padding-top: 160px;
}
.fon > h2 > span {
  border-top: solid 1px rgb(188 186 190);
  font-family: "Noto Sans TC", sans-serif;
  font-size: 2.05rem;
}
.fon > h2 {
  color: rgb(188 186 190);
}
.fon > p {
  font-family: "Noto Sans TC", sans-serif;
  color: rgb(188 186 190);
  font-size: 1.25rem;
}
.pg-item {
  width: 100%;
  height: 70px;
  font-size: 1.25rem;
  line-height: 70px;
  text-align: center;
  color: var(--menu-item-hover-color);
  font-family: "Noto Sans TC", sans-serif;
}
.general {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  background-color: rgb(205 205 223);
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0px 0px 100px darkslategrey;
  justify-content: space-around;
}
.general-item {
  width: 300px;
  height: 300px;
  margin: 15px;
  position: relative;
  cursor: pointer;
  box-shadow: rgb(26 149 173) 0px 5px 90px;
}
.fon1 {
  width: 0;
  height: 100%;
  top: 0;
  right: 100%;
  background-color: rgb(161 214 226 / 67%);
  position: absolute;
  opacity: 0;
  transition: all 0.6s ease;
}
.general-item:hover > .fon1 {
  opacity: 1;
  right: 0;
  width: 100%;
}
.fon1 > h2 {
  width: 300px;
  color: rgb(250 253 254);
  text-align: center;
  line-height: 300px;
  font-size: 30px;
  font-family: "ZCOOL KuaiLe", cursive;
}
.end-part {
  width: 100%;
  height: 100px;
  line-height: 100px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(202 204 207);
}
.e-part1 {
  width: 30%;
  color: rgba(0, 0, 0, 0.589);
  text-align: center;
}
.e-part2 {
  width: 30%;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 0 75px;
}
.e-part3 {
  width: 40%;
  display: flex;
  color: white;
  justify-content: space-around;
  padding: 0 80px;
}
.e-part3 a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.e-part3 a:hover {
  color: var(--menu-item-hover-color);
}
.end-p {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  transition: 0.5s;
}
.e-part2 > a > i {
  text-align: center;
  line-height: 40px;
}
.end-p:hover {
  color: white;
  background-color: black;
  transform: rotate(30deg);
}
.e-part1 a {
  text-decoration: none;
}

@media (max-width: 2560px) {
  .general-item {
    width: 404px;
    height: 404px;
  }
}
@media (max-width: 1440px) {
  .general-item {
    width: 295px;
    height: 295px;
  }
}
@media (max-width: 1024px) {
  .head span {
    font-size: 20px;
  }
  .head img {
    width: 15%;
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
  }
  .flex-item {
    font-size: 15px;
  }
  .book-online {
    font-size: 15px;
  }
  .book-online0 {
    font-size: 15px;
  }
  .general-item {
    width: 270px;
    height: 270px;
  }
  .e-part1 {
    width: 35%;
  }
  .e-part2 {
    width: 25%;
    padding: 0;
  }
  .e-part3 {
    width: 40%;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .head {
    width: 22%;
  }
  .head span {
    font-size: 15px;
  }
  .head img {
    width: 13%;
  }
  .flex-container {
    width: 43%;
  }
  .flex-item {
    font-size: 15px;
  }
  .book-online {
    width: 15%;
    font-size: 10px;
  }
  .book-online0 {
    width: 15%;
    font-size: 10px;
  }
  .pg-item {
    font-size: 20px;
  }
  .e-part1 {
    width: 33%;
    font-size: 13px;
  }
  .e-part2 {
    width: 25%;
    font-size: 13px;
  }
  .e-part3 {
    width: 35%;
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .menu {
    justify-content: space-between;
  }
  .head {
    width: 33%;
  }
  .head span {
    font-size: 13px;
  }
  .head img {
    width: 20%;
  }
  .flex-container {
    display: none;
  }
  .book-online {
    width: 24%;
    height: 30px;
    line-height: 30px;
  }
  .book-online0 {
    width: 24%;
    height: 30px;
    line-height: 30px;
  }
  .menu-block {
    width: 19%;
    display: block;
  }
  .menu-table {
    width: 100%;
    right: 0;
    padding: 0px;
    display: flex;
    justify-content: space-around;
  }
  .page {
    height: 300px;
  }
  .fon{
    padding-top: 125px;
  }
  .fon>h2>span {
    font-size: 1.05rem;
  }
  .fon p {
    font-size: 0.65rem;
  }
  .pg-item {
    font-size: 0.45rem;
  }
  .menu-mobile{
    font-size: 0.5rem;
  }
  .fon1 h2 {
    font-size: 20px;
  }

  .end-part {
    flex-direction: column;
    justify-content: space-between;
  }
  .e-part1 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 {
    width: 100%;
    background-color: blanchedalmond;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 > a > i {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  .e-part3 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
    background-color: burlywood;
  }
  .e-part3 a {
    color: black;
    font-size: 15px;
  }
}
@media (max-width: 375px) {
  body {
    font-size: 11px;
  }
  .head {
    width: 37%;
  }
  .head span {
    font-size: 13px;
  }
  .head img {
    width: 20%;
  }
  .flex-container {
    display: none;
  }
  .book-online {
    width: 21%;
    height: 30px;
    line-height: 30px;
  }
  .book-online0 {
    width: 27%;
    height: 30px;
    line-height: 30px;
  }
  .menu-block {
    width: 15%;
    display: block;
  }
  .menu-table {
    width: 100%;
    right: 0;
    padding: 0px;
    display: flex;
    justify-content: space-around;
  }
  .page {
    height: 300px;
  }
  .fon h2 {
    font-size: 22px;
  }
  .fon p {
    font-size: 13px;
  }
  .pg-item {
    font-size: 2px;
  }
  .fon1 h2 {
    font-size: 20px;
  }
  .end-part {
    flex-direction: column;
    justify-content: space-between;
  }
  .e-part1 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 {
    width: 100%;
    background-color: blanchedalmond;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 > a > i {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  .e-part3 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
    background-color: burlywood;
  }
  .e-part3 a {
    color: black;
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  .head {
    width: 40%;
  }
  .head span {
    font-size: 13px;
  }
  .head img {
    width: 20%;
  }
  .flex-container {
    display: none;
  }
  .book-online {
    width: 40%;
    height: 30px;
    line-height: 30px;
  }
  .book-online0 {
    display: none;
  }
  .menu-block {
    width: 20%;
    display: block;
  }
  .menu-table {
    width: 100%;
    right: 0;
    padding: 0px;
    display: flex;
    justify-content: space-around;
  }
  .page {
    height: 250px;
  }
  .fon h2 {
    margin-top: 0;
    font-size: 19px;
  }
  .fon p {
    font-size: 8px;
  }
  .pg-item {
    font-size: 9px;
  }
  .fon1 h2 {
    font-size: 20px;
  }
  .end-part {
    flex-direction: column;
    justify-content: space-between;
  }
  .e-part1 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 {
    width: 100%;
    background-color: blanchedalmond;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 > a > i {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  .e-part3 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
    background-color: burlywood;
  }
  .e-part3 a {
    color: black;
    font-size: 15px;
  }
}
