@import url(../../styles/variables.css);
* {
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}
/* -----------------Menu Start */
.menu {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-around;
  height: 90px;
  border-bottom: 3px rgba(15, 1, 1, 0.774) solid;
  background-color: var(--menu-bg-color);
  align-items: center;
  z-index: 99999999;
}

/* ------------------------------------------------ */
.menu-block {
  width: 19%;
  display: none;
}
.menu-mobile {
  position: relative;
  width: 100%;
  height: 30px;
  border: none;
  background-color: #cacccf;
  font-size: 0.5rem;
  border-radius: 20px;
}

.menu-item a {
  font-size: 15px;
  color: black;
  text-decoration: none;
}
.menu-table {
  visibility: collapse;
  position: absolute;
  list-style: none;
  transition: 0.1s;
  background-color: #cacccf;
  opacity: 1;
}
.menu-block:hover .menu-table {
  visibility: visible;
}
/* ------------------------------------------------ */
.menu > a > span {
  color: var(--menu-item-color);
  font-family: "Satisfy", cursive;
}
.head {
  width: 30%;
  font-size: 1.25rem;
  text-decoration: none;
}

.flex-container {
  width: 40%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-family: "Noto Sans TC", sans-serif;
}
.flex-item {
  width: 20%;
  cursor: pointer;
  font-size: 20px;
  transition: 0.1s;
}
.flex-item > a {
  text-decoration: none;
  color: var(--menu-item-color);
}
.flex-item > a:hover {
  color: var(--menu-item-hover-color);
}
.book-online {
  width: 15%;
  height: 50px;
  background-color: var(--menu-book-online-bg-color);
  border-radius: 50px;
  text-decoration: none;
  font-size: 0.7rem;
  text-align: center;
  line-height: 50px;
  transition: 0.5s;
  cursor: pointer;
}
.book-online:hover {
  transform: translateY(-7px);
  background-color: var(--menu-item-hover-color);
  color: var(--menu-bg-color);
}
.book-online {
  color: var(--menu-item-color);
  font-family: "Noto Sans TC", sans-serif;
}
.book-online0 {
  width: 15%;
  height: 50px;
  background-color: var(--menu-book-online-bg-color);
  border-radius: 50px;
  text-decoration: none;
  font-size: 0.7rem;
  text-align: center;
  line-height: 50px;
  transition: 0.5s;
  cursor: pointer;
}
.book-online0:hover {
  transform: translateY(-7px);
  background-color: var(--menu-item-hover-color);
  color: var(--menu-bg-color);
}
.book-online0 {
  color: var(--menu-item-color);
  font-size: 1rem;
  font-family: "Noto Sans TC", sans-serif;
}
/* ---------------Menu End */
/* ------------------------------------------------ */
.prog-item2 {
  width: 90%;
  margin-left: 5%;
  height: 600px;
  cursor: pointer;
  background-image: url(../../Images/programs.jpg);
  background-size: cover;
}
.fon {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 550px;
  background-color: #1f1f1fad;
}
.fon > h1 > span {
  border-bottom: solid 1px white;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 2.5rem;
  color: white;
}
.prog-item1 {
  font-size: 1.5rem;
  color: white;
}

.prog-item3 {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item1 {
  width: 100%;
  background-color: #f1f1f2;
  padding: 5px 5px;
}
.item2 {
  width: 100%;
  cursor: pointer;
}
.item1 {
  text-align: center;
}
.item1 h2 {
  font-size: 1.4rem;
  font-family: "Noto Sans TC", sans-serif;
}
.item1 ul {
  padding: 5px 70px;
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}

.prog-item4 {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item3 {
  width: 100%;
  background-color: #f1f1f2;
  text-align: center;
}
.item4,
.item5,
.item6 {
  width: 100%;
  cursor: pointer;
}

.item3 h2 {
  font-size: 1.4rem;
  font-family: "Noto Sans TC", sans-serif;
}
.item3 ul {
  padding: 5px 70px;
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}
.item3 ul > li > a {
  text-decoration: none;
}
.prog-part {
  width: 90%;
  margin: 0px 5%;
  display: flex;
  background-color: #f1f1f2;
  justify-content: space-around;
}
.part1 {
  width: 60%;
  background-color: #f1f1f2;
  padding: 5px 5px;
}
.part2 {
  width: 40%;
  padding-top: 70px;
}

.square > i {
  font-size: 50px;
  background-color: rgb(139, 169, 180);
}
.part1 p {
  padding: 3px 50px;
  font-size: 30px;
}
.part1 h2 {
  padding: 0px 25px;
  font-family: "Noto Sans TC", sans-serif;
}
.part1 ul {
  padding: 5px 70px;
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}
.end-part {
  width: 100%;
  height: 100px;
  line-height: 100px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(202 204 207);
}
.e-part1 {
  width: 30%;
  color: rgba(0, 0, 0, 0.589);
  text-align: center;
}
.e-part2 {
  width: 30%;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 0 75px;
}
.e-part3 {
  width: 40%;
  display: flex;
  color: white;
  justify-content: space-around;
  padding: 0 80px;
}
.e-part3 a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.e-part3 a:hover {
  color: var(--menu-item-hover-color);
}
.end-p {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  transition: 0.5s;
}
.e-part2 > a > i {
  text-align: center;
  line-height: 40px;
}
.end-p:hover {
  color: white;
  background-color: black;
  transform: rotate(30deg);
}
.e-part1 a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  .head span {
    font-size: 20px;
  }
  .head img {
    width: 15%;
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
  }
  .flex-item {
    font-size: 15px;
  }
  .book-online {
    font-size: 15px;
  }
  .book-online0 {
    font-size: 15px;
  }
  .fon h1 {
    font-size: 50px;
  }
  .e-part1 {
    width: 35%;
  }
  .e-part2 {
    width: 25%;
    padding: 0;
  }
  .e-part3 {
    width: 40%;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .head {
    width: 25%;
  }
  .head span {
    font-size: 15px;
  }
  .head img {
    width: 13%;
  }
  .flex-container {
    width: 45%;
  }
  .flex-item {
    font-size: 15px;
  }
  .book-online {
    width: 15%;
  }
  .book-online0 {
    width: 15%;
  }
  .fon h1 {
    font-size: 35px;
  }
  .prog-part {
    flex-direction: column;
    justify-content: space-between;
  }
  .part1 {
    width: 100%;
  }
  .part2 {
    width: 100%;
  }
  .e-part1 {
    width: 35%;
    font-size: 13px;
  }
  .e-part2 {
    width: 25%;
    font-size: 13px;
  }
  .e-part3 {
    width: 40%;
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .menu {
    justify-content: space-between;
  }
  .head {
    width: 33%;
  }
  .head span {
    font-size: 13px;
  }
  .head img {
    width: 20%;
  }
  .flex-container {
    display: none;
  }
  .book-online {
    width: 24%;
    height: 30px;
    line-height: 30px;
  }
  .book-online0 {
    width: 24%;
    height: 30px;
    line-height: 30px;
  }
  .menu-block {
    width: 19%;
    display: block;
  }
  .menu-table {
    width: 100%;
    right: 0;
    padding: 0px;
    display: flex;
    justify-content: space-around;
  }
  .prog-item2 {
    height: 300px;
  }
  .fon {
    line-height: 300px;
  }
  .fon > h1 > span {
    font-size: 1rem;
  }
  .item1 h2 {
    font-size: 0.7rem;
  }
  .item3 > h2 {
    font-size: 0.9rem;
  }
  .prog-part {
    flex-direction: column;
    justify-content: space-between;
  }
  .part1 {
    width: 100%;
  }
  .part2 {
    width: 100%;
  }
  .end-part {
    flex-direction: column;
    justify-content: space-between;
  }
  .e-part1 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 {
    width: 100%;
    background-color: blanchedalmond;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 > a > i {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  .e-part3 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
    background-color: burlywood;
  }
  .e-part3 a {
    color: black;
    font-size: 15px;
  }
}
@media (max-width: 375px) {
  body {
    font-size: 11px;
  }
  .head {
    width: 37%;
  }
  .head span {
    font-size: 13px;
  }
  .head img {
    width: 20%;
  }
  .flex-container {
    display: none;
  }
  .book-online {
    width: 21%;
    height: 30px;
    line-height: 30px;
  }
  .book-online0 {
    width: 27%;
    height: 30px;
    line-height: 30px;
  }
  .menu-block {
    width: 15%;
    display: block;
  }
  .menu-table {
    width: 100%;
    right: 0;
    padding: 0px;
    display: flex;
    justify-content: space-around;
  }
  .prog-item2 {
    height: 270px;
  }
  .fon {
    line-height: 300px;
  }
  .fon > h1 > span {
    font-size: 0.8rem;
  }
  .item1 h2 {
    font-size: 0.6rem;
  }
  .item3 > h2 {
    font-size: 0.9rem;
  }
  .end-part {
    flex-direction: column;
    justify-content: space-between;
  }
  .e-part1 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 {
    width: 100%;
    background-color: blanchedalmond;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 > a > i {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  .e-part3 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
    background-color: burlywood;
  }
  .e-part3 a {
    color: black;
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  .head {
    width: 40%;
  }
  .head span {
    font-size: 13px;
  }
  .head img {
    width: 20%;
  }
  .flex-container {
    display: none;
  }
  .book-online {
    width: 40%;
    height: 30px;
    line-height: 30px;
  }
  .book-online0 {
    display: none;
  }
  .menu-block {
    width: 20%;
    display: block;
  }
  .menu-table {
    width: 100%;
    right: 0;
    padding: 0px;
    display: flex;
    justify-content: space-around;
  }
  .prog-item2 {
    height: 260px;
  }
  .fon {
    line-height: 300px;
  }
  .fon > h1 > span {
    font-size: 0.8rem;
  }
  .item1 h2 {
    font-size: 0.6rem;
  }
  .item3 > h2 {
    font-size: 0.9rem;
  }
  .end-part {
    flex-direction: column;
    justify-content: space-between;
  }
  .e-part1 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 {
    width: 100%;
    background-color: blanchedalmond;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 > a > i {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  .e-part3 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
    background-color: burlywood;
  }
  .e-part3 a {
    color: black;
    font-size: 15px;
  }
}
