@import url(./variables.css);

* {
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}
.menu {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 90px;
  border-bottom: 3px rgba(15, 1, 1, 0.774) solid;
  background-color: var(--menu-bg-color);
  align-items: center;
  z-index: 99999999;
}
.menu > a > span {
  color: var(--menu-item-color);
}
.head {
  width: 30%;
  font-size: 30px;
  text-decoration: none;
}

.flex-container {
  width: 40%;
  list-style: none;
  display: flex;
}
.space-evenly {
  justify-content: space-evenly;
}
.flex-item {
  width: 100%;
  margin: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.1s;
}
.flex-item > a {
  text-decoration: none;
  color: var(--menu-item-color);
}
.flex-item > a:hover {
  color: var(--menu-item-hover-color);
}
.book-online {
  width: 15%;
  height: 50px;
  background-color: var(--menu-book-online-bg-color);
  border-radius: 50px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  transition: 0.5s;
  cursor: pointer;
}
.book-online:hover {
  transform: translateY(-7px);
  background-color: var(--menu-item-hover-color);
  color: var(--menu-bg-color);
}
.book-online {
  color: var(--menu-item-color);
}
.book-online0 {
  width: 15%;
  height: 50px;
  background-color: var(--menu-book-online-bg-color);
  border-radius: 50px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  transition: 0.5s;
  cursor: pointer;
}
.book-online0:hover {
  transform: translateY(-7px);
  background-color: var(--menu-item-hover-color);
  color: var(--menu-bg-color);
}
.book-online0 {
  color: var(--menu-item-color);
}
/* ------------------------------------------------ */
.menu-block {
  width: 19%;
  display: none;
}
.menu-mobile {
  position: relative;
  width: 100%;
  height: 30px;
  border: none;
  background-color: #cacccf;
  font-size: 5px;
  border-radius: 20px;
}

.menu-item a {
  font-size: 15px;
  color: black;
  text-decoration: none;
}
.menu-table {
  visibility: collapse;
  position: absolute;
  list-style: none;
  transition: 0.1s;
  background-color: #cacccf;
  opacity: 1;
}
.menu-block:hover .menu-table {
  visibility: visible;
}
/* ------------------------------------------------ */
.home {
  width: 90%;
  margin-left: 5%;
  height: 615px;
  position: relative;
  overflow: hidden;
  background-image: url(../Images/head1.jpg);
}
.fon {
  width: 100%;
  height: 100%;
  background-color: #1f1f1fad;
  padding: 150px 42% 0 10%;
}
.fon > h2 > span {
  border-bottom: solid 1px rgb(194, 220, 221);
}
.fon > h2 {
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  letter-spacing: 0.05em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}
.fon > p {
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.05em;
  animation: typing 3.5s steps(70, end), blink-caret 0.5s step-end infinite;
  animation-delay: 1.3s;
  opacity: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
    opacity: 1;
  }
}

.fon > h3 {
  margin-top: 7px;
  font-size: 45px;
  color: white;
}
.fon > p {
  color: white;
  font-size: 20px;
}
.item1 {
  width: 35%;
  position: absolute;
  bottom: -600px;
  left: 10%;
  animation: kku 1s forwards;
}
.item2 {
  width: 28%;
  position: absolute;
  bottom: -600px;
  left: 27%;
  animation: kku 1s forwards;
  animation-delay: 1s;
}
.item3 {
  width: 15%;
  position: absolute;
  bottom: -600px;
  left: 44%;
  animation: kku 1s forwards;
  animation-delay: 2s;
}
.item4 {
  width: 10%;
  position: absolute;
  bottom: -600px;
  left: 55%;
  animation: kku 1s forwards;
  animation-delay: 3s;
}
@keyframes kku {
  0% {
    bottom: -600px;
  }
  100% {
    bottom: 0px;
  }
}

.psychology {
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-around;
  font-size: 50px;
  text-align: center;
  font-family: "Playfair Display", serif;
}
.psychology hr {
  width: 30%;
  height: 7px;
  border-radius: 50%;
  border: none;
  margin-top: 105px;
  background-color: rgb(248, 239, 239);
}
.psychology a {
  text-decoration: none;
  color: var(--menu-item-hover-color);
}
.psychology2 {
  width: 90%;
  margin-left: 5%;
  display: flex;
  background-color: rgb(235 244 238);
  justify-content: space-around;
  margin-top: 20px;
}
.sec-item1 {
  width: 50%;
}
.sec-item1 h2 {
  padding: 0px 25px;
}
.sec-item1 ul {
  padding: 5px 70px;
  font-family: "ZCOOL KuaiLe", cursive;
}
.sec-item1 p {
  padding: 0px 25px;
}
.sec-item2 {
  width: 50%;
}
.psychology3 {
  width: 90%;
  margin-left: 5%;
  display: flex;
  background-color: rgb(235 244 238);
  justify-content: space-between;
}
.sec-item3 {
  width: 50%;
}
.sec-item3 h2 {
  padding: 0px 25px;
}
.sec-item3 p {
  padding: 0px 25px;
  font-family: "ZCOOL KuaiLe", cursive;
}
.sec-item4 {
  width: 50%;
}
.psychology4 {
  width: 90%;
  margin-left: 5%;
  display: flex;
  background-color: rgb(235 244 238);
  justify-content: space-between;
}
.sec-item5 {
  width: 50%;
}
.sec-item5 h2 {
  padding: 35px 25px;
}
.sec-item5 p {
  padding: 0px 25px;
  font-family: "ZCOOL KuaiLe", cursive;
}
.sec-item6 {
  width: 50%;
}
.end-part {
  width: 100%;
  height: 100px;
  line-height: 100px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(184 172 166 / 77%);
}
.e-part1 {
  width: 30%;
  color: rgba(0, 0, 0, 0.589);
  text-align: center;
}
.e-part2 {
  width: 30%;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 0 75px;
}
.e-part3 {
  width: 40%;
  display: flex;
  color: white;
  justify-content: space-around;
  padding: 0 80px;
}
.e-part3 a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.e-part3 a:hover {
  color: var(--menu-item-hover-color);
}
.end-p {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  transition: 0.5s;
}
.e-part2 > a > i {
  text-align: center;
  line-height: 40px;
}
.end-p:hover {
  color: white;
  background-color: black;
  transform: rotate(30deg);
}
<<<<<<< HEAD
<<<<<<< HEAD:style.css
/* Style */
=======
.e-part1 a{
  text-decoration: none;
}
>>>>>>> 734377998ddd933051d3e52dc4f0c215e61d9f65:assets/styles/main.css
=======
.e-part1 a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  .head span {
    font-size: 20px;
  }
  .head img {
    width: 15%;
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
  }
  .flex-item {
    font-size: 15px;
  }
  .book-online {
    font-size: 15px;
  }
  .book-online0 {
    font-size: 15px;
  }
  .psychology2 {
    flex-direction: column;
    justify-content: space-between;
  }
  .sec-item1 {
    width: 100%;
  }
  .sec-item2 {
    width: 100%;
  }
  .psychology3 {
    flex-direction: column;
    justify-content: space-between;
  }
  .sec-item4 {
    width: 100%;
  }
  .sec-item3 {
    width: 100%;
  }
  .psychology4 {
    flex-direction: column;
    justify-content: space-between;
  }
  .sec-item5 {
    width: 100%;
  }
  .sec-item6 {
    width: 100%;
  }
  .e-part1 {
    width: 35%;
  }
  .e-part2 {
    width: 25%;
    padding: 0;
  }
  .e-part3 {
    width: 40%;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .head {
    width: 25%;
  }
  .head span {
    font-size: 15px;
  }
  .head img {
    width: 13%;
  }
  .flex-container {
    width: 45%;
  }
  .flex-item {
    font-size: 15px;
  }
  .book-online {
    width: 15%;
  }
  .book-online0 {
    width: 15%;
  }
  .home {
    background-size: cover;
    height: 450px;
  }
  .e-part1 {
    width: 35%;
    font-size: 13px;
  }
  .e-part2 {
    width: 25%;
    font-size: 13px;
  }
  .e-part3 {
    width: 40%;
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  body {
    font-size: 17px;
  }
  .head {
    width: 33%;
  }
  .head span {
    font-size: 13px;
  }
  .head img {
    width: 20%;
  }
  .flex-container {
    display: none;
  }
  .book-online {
    width: 24%;
    height: 30px;
    font-size: 5px;
    line-height: 30px;
  }
  .book-online0 {
    width: 24%;
    font-size: 5px;
    height: 30px;
    line-height: 30px;
  }
  .menu-block {
    width: 19%;
    display: block;
  }
  .menu-table {
    width: 100%;
    right: 0;
    padding: 0px;
    display: flex;
    justify-content: space-around;
  }
  .home {
    background-size: cover;
    height: 340px;
  }
  .psychology h2 {
    font-size: 35px;
  }
  .psychology hr {
    width: 20%;
    margin-top: 47px;
  }
  .fon > h2 {
    display: none;
  }
  .fon > p {
    display: none;
  }
  .end-part {
    flex-direction: column;
    justify-content: space-between;
  }
  .e-part1 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 {
    width: 100%;
    background-color: blanchedalmond;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 > a > i {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  .e-part3 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
    background-color: burlywood;
  }
  .e-part3 a {
    color: black;
    font-size: 15px;
  }
}
@media (max-width: 375px) {
  body {
    font-size: 11px;
  }
  .head {
    width: 37%;
  }
  .head span {
    font-size: 13px;
  }
  .head img {
    width: 20%;
  }
  .flex-container {
    display: none;
  }
  .book-online {
    width: 21%;
    height: 30px;
    line-height: 30px;
  }
  .book-online0 {
    width: 27%;
    height: 30px;
    line-height: 30px;
  }
  .menu-block {
    width: 15%;
    display: block;
  }
  .menu-table {
    width: 100%;
    right: 0;
    padding: 0px;
    display: flex;
    justify-content: space-around;
  }
  .end-part {
    flex-direction: column;
    justify-content: space-between;
  }
  .e-part1 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 {
    width: 100%;
    background-color: blanchedalmond;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 > a > i {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  .e-part3 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
    background-color: burlywood;
  }
  .e-part3 a {
    color: black;
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  body {
    font-size: 15px;
  }
  .head {
    width: 20%;
  }
  .head span {
    display: none;
  }
  .head img {
    width: 60px;
  }
  .flex-container {
    display: none;
  }
  .book-online {
    width: 25%;
    font-size: 5px;
    height: 30px;
    line-height: 30px;
  }
  .book-online0 {
    width: 35%;
    font-size: 5px;
  }
  .menu-block {
    width: 20%;
    display: block;
  }
  .menu-table {
    width: 100%;
    right: 0;
    padding: 0px;
    display: flex;
    justify-content: space-around;
  }
  .home {
    background-size: cover;
    height: 250px;
  }
  .end-part {
    flex-direction: column;
    justify-content: space-between;
  }
  .e-part1 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 {
    width: 100%;
    background-color: blanchedalmond;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .e-part2 > a > i {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  .e-part3 {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
    background-color: burlywood;
  }
  .e-part3 a {
    color: black;
    font-size: 15px;
  }
}
>>>>>>> 37bca2ce17bd4e6a8f40ffca9bdaf9a7f689099c
